
/* ///////////////custom css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
p{
    color: #979797;
}

 
/* Hide elements until page is loaded */
body.loading .navigaror,
body.loading .hero-text,
body.loading .heroimg,
body.loading .drob {
  visibility: hidden;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: bold;
} */

/* Hide loader after the animation */
body.loaded .loader {
  display: none;
} 


  .color-red{
    color:#EA0E00;
  }
  .color-bg-red{
    background-color:#EA0E00;
  }
  .color-black{
    color:#0B0B0B;
  }
  .color-black-bg{
    background-color:#0B0B0B;
  }
  .color-white{
    color:#FFFFFF;
  }
  .color-grey{
    background-color:#F3F3F3;
  }

  .color-gr{
    color:#F3F3F3;
  }

 