
/* ///////////////custom css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
p{
    color: #979797;
}

 


/* :root {
    --red: #EA0E00;
    --black: #0B0B0B;
    --white: #FFFFFF;
    --font-inter: 'Inter', sans-serif;
    --lgL: 1440px;
  } */

  .color-red{
    color:#EA0E00;
  }
  .color-bg-red{
    background-color:#EA0E00;
  }
  .color-black{
    color:#0B0B0B;
  }
  .color-black-bg{
    background-color:#0B0B0B;
  }
  .color-white{
    color:#FFFFFF;
  }
  .color-grey{
    background-color:#F3F3F3;
  }

  .color-gr{
    color:#F3F3F3;
  }



  .img1 img{
    width: 1440px;
}

.img1{
    display: flex;
    justify-content: center;

}